@page "/SettingManagement"
@using Microsoft.Extensions.Localization
@using global::TTShang.SettingManagement.Localization
@inject IStringLocalizer<SettingManagementResource> L
@{
}
<h1>SettingManagement</h1>
<p>@L["SamplePageMessage"]</p>