@page "/IdentityManagement"
@using Microsoft.Extensions.Localization
@using global::TTShang.IdentityManagement.Localization
@inject IStringLocalizer<IdentityManagementResource> L
@{
}
<h1>IdentityManagement</h1>
<p>@L["SamplePageMessage"]</p>