@page "/AntDesignTheme"
@using Microsoft.Extensions.Localization
@using global::TTShang.AntDesignTheme.Localization
@inject IStringLocalizer<AntDesignThemeResource> L
@{
}
<h1>AntDesignTheme</h1>
<p>@L["SamplePageMessage"]</p>