@page "/FeatureManagement"
@using Microsoft.Extensions.Localization
@using global::TTShang.FeatureManagement.Localization
@inject IStringLocalizer<FeatureManagementResource> L
@{
}
<h1>FeatureManagement</h1>
<p>@L["SamplePageMessage"]</p>