@page "/PermissionManagement"
@using Microsoft.Extensions.Localization
@using global::TTShang.PermissionManagement.Localization
@inject IStringLocalizer<PermissionManagementResource> L
@{
}
<h1>PermissionManagement</h1>
<p>@L["SamplePageMessage"]</p>