@page "/TenantManagement"
@using Microsoft.Extensions.Localization
@using global::TTShang.TenantManagement.Localization
@inject IStringLocalizer<TenantManagementResource> L
@{
}
<h1>TenantManagement</h1>
<p>@L["SamplePageMessage"]</p>